main.apply {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 700px;
  background-color: #2E2E2E;
  border-radius: 10px;
  padding: 45px;
  padding-top: 0px;
}
main.apply h1 {
 margin-bottom: 5px;
}
main.apply .info {
  margin-bottom: 10px;
}
.formWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.formWrapper .inputField {
  grid-column: span 1;
  width: 220px;
}

.formWrapper .inputField input {
  width: 100%;
}

.formWrapper textarea {
  grid-column: span 3;
  width: 680px;
  height: 100px;
}

.formWrapper .checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 3;
}

.formWrapper button {
  grid-column: span 3;
}
.formWrapper .checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
}

.formWrapper .checkboxes div {
  display: flex;
}