main.home {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}

main.home h1, main.home p {
  text-align: center;
}

.placeObj {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #111;
  border-radius: 8px;
  background-color: #181818;
  height: 240px;
}

.placeImage {
  width: 180px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.placeDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-right: 20px;
}

.placeName {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.placeAddress,
.placeType,
.placeHours,
.placeOffers {
  font-size: 16px;
  margin-bottom: 8px;
}

.placeDescription {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  flex-basis: 40%;
  align-self: flex-start;
  font-size: 16px;
  width: 320px;
  min-height: 209px;
  margin-top: 6px;
}

.descriptionContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
