body {
    margin: 0;
    background: #282828;
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navbar {
    position: fixed;
    background-color: #2e2e2e;
    top: 2%;
    width: 800px;
    height: 78px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.navbtn {
    position: relative;
    padding-top: 6px;
    background-color: #181818;
    color: #fff;
    padding-bottom: 6px;
    width: 160px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 28%;
    margin-right: 21px;
}

.selected {
    color: #646cff;
    border-color: #646cff;
}

.container {
    width: 0%;
    height: 0%;
}

.account {
    width: 50px;
    height: 50px;
    left: 25%;
}

.account img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 4px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

a {
    font-weight: 800;
    text-decoration: none;
}